.vscode
venv
.env
logs

src/__pycache__
src/api/__pycache__
src/common/__pycache__
src/db/__pycache__
src/lab.py
src/.ipynb_checkpoints

src/resources/data

database/*.db
database/*.db-journal
database/csv/*
database/xlsx/*
database/test

.ipynb_checkpoints
