.DS_Store

.vscode
venv
.env
logs

src/__pycache__
src/api/__pycache__
src/common/__pycache__
src/db/__pycache__
src/profiling/__pycache__
src/lab.py
src/.ipynb_checkpoints

src/resources/data

database/*.db
database/*.db-journal
database/*.bin
database/csv
database/xlsx
database/test
database/jsonl

interactive/data
interactive/classifier/data

tests/__pycache__

.ipynb_checkpoints

*.log
