.vscode
venv
.env
logs

src/__pycache__
src/api/__pycache__
src/common/__pycache__
src/db/__pycache__
src/profiling/__pycache__
src/lab.py
src/.ipynb_checkpoints

src/resources/data

database/*.db
database/*.db-journal
database/csv
database/xlsx
database/test
database/jsonl

interactive/data/db_ML.pkl
interactive/data/db_all_lang.pkl
interactive/data/db_sub_lang.pkl

tests/__pycache__

.ipynb_checkpoints

twarc.log
